        .related_headline{
		
		  background-color: #F2F0EA;
		  font-family: verdana, geneva, arial, helvetica, sans-serif;
		  border-width:0px;
		  font-size: 9px;
                  line-height:13px;
		  margin-right:7px;
		  margin-left:217px;
		  margin-bottom:0px;
		  margin-top:0px;
		  vertical-align: bottom;
	}	
	 
	 .bild_kasten_3xuleft{
                padding-left: 0px;
		  padding-top: 0px;
                  padding-right: 0px;
                  padding-bottom: 0px;
                  margin-left: 0px;
		  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 0px; 
	 	border-bottom:1px solid black;
	 	              
	 	
	 	vertical-align:top;
	 }


	.normal{
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 11px;
		line-height: 16px;
		width: 40%;
		text-decoration: none;
	}
 
	 
	 .spitzmarke_first {
	 	margin-left:10px;
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-weight: bold;
		font-size: 10px;
		line-height: 10px;
		color: #8C8265;
		text-transform: uppercase;
		letter-spacing: 3pt;
		text-decoration: none;
		padding-bottom: 4px;
		padding-top: 4px;
		
	}	
	
	
	.spitzmarke {
		margin-left:7px;
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-weight: bold;
		font-size: 10px;
		line-height: 15px;
		color: #8C8265;
		text-transform: uppercase;
		letter-spacing: 3pt;
		text-decoration: none;
		padding-bottom: 0px;
		padding-top: 0px;
                padding-left:10px;
                padding-right:10px;
		margin-bottom: 0px;
		border-top:1px dotted black;
	}
	
	.spitzmarke_wo_picture {
		margin-left:7px;
		margin-right:0px;
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-weight: bold;
		font-size: 10px;
		line-height: 15px;
		color: #8C8265;
		text-transform: uppercase;
		letter-spacing: 3pt;
		text-decoration: none;
		padding-bottom: 0px;
		padding-top: 0px;
		margin-bottom: 0px;
		border-top:1px dotted black;
	}
	
	.text_3x_title {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
		color: black;
		margin-right:7px;
		margin-left:7px;
	}
	
	.text_main_first_title {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 13px;
		line-height: 17px;
		font-weight: bold;
		color: black;
		margin-right:7px;
		margin-left:7px;
	}
	
	
	.text_main {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 12px;
		line-height: 16px;
		font-weight: normal;
		color: black;
		margin-right:7px;
		margin-left:7px;
	}
	
	.text_3x {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 11px;
		line-height: 14px;
		font-weight: normal;
		color: black;
		margin-right:7px;
		margin-left:7px;
		margin-bottom:7px;
                padding-bottom:7px;
	}

        .text_foot {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 9px;
		line-height: 14px;
		font-weight: normal;
		color: black;
		margin-right:7px;
		margin-left:7px;
	}
	
	.related_3x{
		
		  background-color: #F2F0EA;
		  font-family: verdana, geneva, arial, helvetica, sans-serif;
		  font-weight: normal;
		  padding: 3px;
		  border-width:0px;
		  font-size: 9px;
                  line-height:13px;
		  margin-right:7px;
		  margin-left:7px;
		  margin-bottom:0px;
		  margin-top:0px;
		  font-weight: normal;
		  vertical-align: bottom;
	}


	.main_related{		  
		  font-family: verdana, geneva, arial, helvetica, sans-serif;
		  font-weight: normal;
		  border-spacing:0px;
		  font-size: 9px;
		  margin-right:7px;
		  margin-left:7px;
		  font-weight: normal;
		  vertical-align: bottom;
	}	
	
	
	

	 
	 .picture_main_top {
	 	padding-left:0px;
	 	padding-right:0px;
	 	padding-bottom:0px;
	 	padding-top:0px;
	 	vertical-align:top;
	 	float:right;
	 	margin-left:0px;
	 	margin-right:0px;
	 	margin-bottom:0px;
	 	margin-top:0px;	 
	 }



	 
	 .navi_pic{
	 	padding: 0 5px 2px 0;
                margin: 0 5px 2px 0;
	 }


	 	
	.supertitle_zuender {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-weight: bold;
		font-size: 10px;
		line-height: 12px;
		color: #E1DCCE;
		text-transform:uppercase;
		letter-spacing: 3pt;
		text-decoration: none;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	
	.title { 
		font-family: garamond, bodoni, palatino, serif; 
		font-size: 24px; 
		font-weight: bold;
		line-height: 24px;
		margin-top: 12px;
		margin-bottom: 4px;
                padding-left:10px;
                padding-right:10px;
	}
		
		.subtitle {	
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 11px; 
		font-weight: bold; 
		line-height: 16px;
                padding-left:10px;
                padding-right:10px;
	}
		
		.byline {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 12px;
		line-height: 12px;
		font-style: italic;
		text-decoration: none;
		margin-bottom: 14px;
                padding-left:10px;
                padding-right:10px;
	}

        a {
                text-decoration: none; 
                color:black; 

        }
          

        body {
               margin-left:12px;
               margin-right:0px;
               padding-right:0px;
               background-color:#FFFFF2;
        }

	p {
		font-family: verdana, geneva, arial, helvetica, sans-serif;
		font-size: 12px;
		line-height: 18px;
		text-decoration: none;
                padding-left:10px;
                padding-right:10px;
	}

.intertitle {	
font-family: verdana, geneva, arial, helvetica, sans-serif;
font-size: 12px; 
font-weight: bold; 
line-height: 18px;
}


/*
 * 
 * navigation 
 *
 */

ul#nav {
	margin: 0;
	padding: 0 5px 0 5px;
	list-style: none;
	width: 125px; /* Width of Menu Items */

	}

ul li {
	position: relative;
	list-style-type: none;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 9px; 
	text-transform:uppercase;
	padding: 0px;
        margin: 0px;
	background-color: white;
}
	
li ul {
	position: absolute;
	width: 170px;
	right: 103px; /* Set 1px less than menu width */
	top: 4px;
	display: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: #FFFFFF;
	z-index: 50;
}

.nav_first_li
{
        border-bottom:1px black solid;
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;
}

.nav_table_entry
{
        width:125px;
        border-left:1px black solid;
        border-right:1px black solid;
        border-top:1px black solid;
}

.nav_table_header
{
        background-color:black;
        color:white;
        width:125px;
        font-weight:bold;
}

/* 
 *
 * Styles for tabels 
 * 
 */

.doublegrid {
      border:1px solid black;

      }

.grid {
      border:1px solid black;
      border-collapse:collapse;
      }



/* Styles for Menu Items */
ul li a {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 9px;
	display: block;
	text-decoration: none;
	color: #777;
	background: #FFFFFF; /* IE6 Bug */
	padding: 1px;
	margin: 0px;
	border-bottom: 0;
	}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */

ul li a:hover {
	color: #000000;
 	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 9px; 
 	font-weight: bold;
	background: #ffffff;
	padding: 1px;
	margin: 0px;
} /* Hover Styles */
		
li ul li a { 
	 padding: 2px 5px; }  /* Sub Menu Styles */
		
li:hover ul, li.over ul { display: block; } /* The magic */



/* Ad-Places */

.ad9 {
position: absolute;
left: 890px;
z-index: 2;
voice-family: "\"}\"";
voice-family: inherit;
/*top: 155px; */
top: 30px;
}

html>body .ad9 {
/*top: 131px; */
top: 10px;
}

.article_ad9 {
position: absolute;
left: 890px;
z-index: 2;
voice-family: "\"}\"";
voice-family: inherit;
top: 158px;
}

html>body .article_ad9 {
top: 130px;
}


.textlink:link{
        color: maroon;
        border-bottom: 1px dotted #727d21;
}

.textlink:visited{
        color: maroon;
        border-bottom: 1px dotted #727d21;
}

.textlink:active {
        color: maroon;
        border-bottom: 1px dotted #727d21;
}

.textlink:hover {
        border-bottom: 1px dotted #727d21;
        background-color: #F0F0F0;
        color: maroon;
}

/* Zuender Mr.Wong Wolke */

#mw_tagcloud {
  width: 460px;
  text-align:left;
  padding: 5px;
  overflow: hidden;
}

#mw_tagcloud a {
	color:#ffffff;
}

#mw_tagcloud a:hover{
  text-decoration:underline;
}

 #mw_tagcloud a.mw_tag0{
                font-size:8pt;
            }
            #mw_tagcloud a.mw_tag1{
            font-size:10pt;
            }
            #mw_tagcloud a.mw_tag2{
            font-size:12pt;
            }
            #mw_tagcloud a.mw_tag3{
            font-size:13pt;
            }
            








